.App {
  text-align: center;
  width: 100%;
}
body {
  background-color: rgb(51, 51, 51);
  margin-top: 70px;
  background: #333;
  color: #fff;
}
/* .container {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 1000px;
} */
